<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/scripts.js"></script> <!-- !!!! -->
    <script>
    function reloadPage() {
        const currentPage = [[${currentPage}]];
        size = document.getElementById('itemsPerPage').value;
        window.location.href = `/tasks?page=${currentPage}&size=${size}`;
    }
    </script>
</head>
<body>
<h1 th:text="#{message.title}">Todo List</h1>

<form th:action="@{/tasks}" th:object="${newTask}" method="post">
    <label>
        <input type="text" th:field="*{description}" placeholder="Введите задачу" required>
    </label>
    <label>
        <select th:field="*{status}">
            <option value="" disabled selected th:text="#{message.select}">Выберите статус</option>
            <option th:value="'IN_PROGRESS'" th:text="#{status.in_progress}"></option>
            <option th:value="'DONE'" th:text="#{status.done}"></option>
            <option th:value="'PAUSED'" th:text="#{status.paused}"></option>
        </select>
    </label>
    <button type="submit" th:text="#{message.add}">Add</button>
</form>

<table>
    <thead>
    <tr>
        <td>ID</td>
        <td th:text="#{message.description}"></td>
        <td th:text="#{message.status}"></td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.status}"></td>
            <td><form th:action="@{/tasks/edit/{id}(id=${task.id})}" method="post" style="display:inline;">
                <button type="submit" th:text="#{message.edit}">Edit</button>
            </form></td>
            <td><form th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post" style="display:inline;">
            <button type="submit" th:text="#{message.delete}">Delete</button>
            </form>
            </td>
        </tr>
    </tbody>
</table>

<br>
<hr>
<br>

<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{/tasks(page=${currentPage - 1}, size=${size})}" th:text="#{message.back.back}">Назад</a>
    </span>
    <span th:text="#{message.page}">Страница <span th:text="${currentPage + 1}">1</span>
        <span th:text="#{message.in}">из</span><span th:text="${totalPages}">1</span></span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/tasks(page=${currentPage + 1}, size=${size})}" th:text="#{message.forward}">Вперед</a>
    </span>
</div>

<br>

<div>
    <label for="itemsPerPage" th:text="#{message.itemsPerPage}">Items per page:</label>
    <select id="itemsPerPage" onchange="reloadPage()">
        <option value="5" th:selected="${size == 5}">5</option>
        <option value="10" th:selected="${size == 10}">10</option>
        <option value="20" th:selected="${size == 20}">20</option>
    </select>
    <button onclick="reloadPage()" th:text="#{message.reload}">Reload</button>
</div>

<br>
<br>
<p th:text="#{message.language}">Язык: </p>
<a th:href="@{/change-language/ru}">RU</a>
<span> / </span>
<a th:href="@{/change-language/eng}">ENG</a>

</body>
</html>
